* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(106, 106, 222, 1) 38%, rgba(29, 197, 231, 1) 91%);
}
.container {
    height: 600px;
    width: 600px;
    margin: auto;
    display: flex;
    align-self: center;
    border: 4px solid black;
    border-radius: 50%;
    animation: bickysharma 5s linear infinite;
}
.box {
    height: 200px;
    width: 200px;
    background: black;
    border: 4px solid black;
    border-radius: 50%;
    animation: bickysharma 2s linear infinite;
}
@keyframes bickysharma {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}